@model ComeWatch.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Movie)
            {
                <tr>
                    <td>@i.Name</td>
                </tr>
            }
        </tbody>
    </table>

